<main class="login-cont">

    <div class="error-container">
        <!-- <ng-container *ngIf="inputEmail.dirty">
            <p *ngIf="inputEmail.errors?.['required']"> Email required!</p>
            <p *ngIf="inputEmail.errors?.['emailValidator']">Email-validation failed!</p>

        </ng-container>

        <ng-container *ngIf="inputPassword.dirty">
            <p *ngIf="inputPassword.errors?.['required']"> Password required!</p>
            <p *ngIf="inputPassword.errors?.['minlength']"> Password must be at least 6 symbols long!</p>
        </ng-container> -->
    </div>

    <div class="form-container">

        <h4>Login:</h4>

        <form class="login-form" [formGroup]="form" (ngSubmit)="login()">

            <div>
                <label for="email">E-mail: </label>

                <input  class="inpfield" type="email" placeholder="valid mail@xxxx.vvv" [ngClass]="{'inp-error':getErrMessageIn('email')}"
                    formControlName="email" />
            </div>
            <div class="validation-message" >{{getErrMessageIn('email')}} </div>

            <div>
                <label for="password">Password: </label>
                <input class="inpfield" type="password" placeholder="minimum 6 characters"
                    [ngClass]="{ 'inp-error': getErrMessageIn('password')}" formControlName="password" />
            </div>
            <div class="validation-message">{{getErrMessageIn('password')}}</div>

            <button [ngClass]="form.invalid ? 'a-button-disabled':'a-button'">Sign in</button>

            <p>Don't have an account? <a class="a-txt" routerLink="/register">Register</a> </p>
        </form>




    </div>

</main>

<!-- <a class="a-button" (click)="logForm.ngSubmit.emit()">Sign in</a> -->