<main class="login-cont">

    <form class="login-form" action="">
        <h4>Login:</h4>
        <label for="e-mail">E-mail:
            <input type="email" placeholder="email@xxx.vv" class="inpfield">
        </label>

        <label for="password">Password:
            <input type="password" placeholder="password" class="inpfield">
        </label>

        <a class="a-button">Sign in</a>

        <p>Don't have an account? <a class="a-txt" routerLink="/register">Register</a> </p>
    </form>
</main>