<main class="login-cont">

    <form class="login-form" action="">
        <h4>Login:</h4>
        <label for="e-mail">E-mail:
            <input (keyup.enter)="login(email.value, password.value)" type="email" placeholder="e-mail" class="inpfield" #email>
        </label>

        <label for="password">Password:
            <input (keyup.enter)="login(email.value, password.value)" type="password" placeholder="password" class="inpfield" #password>
        </label>

        <a class="a-button" (click)="login(email.value, password.value)">Sign in</a>

        <p>Don't have an account? <a class="a-txt" routerLink="/register">Register</a> </p>
    </form>
</main>