.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 2em;
    gap: 1em;
    height: 300px;
    position: relative;

    /* ! todo  */
}

.offer-card {
    flex: 1 1 auto;
    max-width: 250px;
    min-width: 200px;
    height: 270px;
    border-radius: .5em;
    background: hsl(0, 0%, 100%, .4);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.img-container {
    border: solid 1px red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 110%;
    overflow: hidden;
}

/* //# IMG */
.img-container img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    cursor: pointer;
}

.aboveImg {
    position: relative;
    z-index: 2;
    background-color: rgb(255, 255, 255, .7);
    width: 100%;
    padding: .4em;
    cursor: pointer;
}

.head {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(44, 41, 41);
}

.foot {
    font-size: .97em;
    color: black;
    cursor:default;
}

/* a-button */
.aboveImg a {
    text-decoration: none;
    color: rgb(26, 255, 0);
    font-weight: 500;
    cursor:pointer;
    background: black;
    padding: .1em;
    border-radius: .25em;
    float: right;
}

.aboveImg a:hover{
    background: rgb(241, 211, 16);
    color: rgb(0, 0, 0);
}

.ng-cont{
    cursor: pointer;
}