<div class="catalog-container">

    <div class="offer-card" *ngFor="let offer of allOffers">

        
            <div class="aboveImg head" routerLink="/offer/{{offer.objectId}}/details">
                <p>{{offer.name }} </p>
            </div>

            <div class="img-container" routerLink="/offer/{{offer.objectId}}/details">
                <img src="{{offer.imglink }}" alt="">
            </div>
        



        <div class="aboveImg foot">

            <span>When: {{offer.date.iso | date: 'dd-MM-yyyy' }}</span>
            <span> / {{offer.durationDays }} Days</span>

            <div>
                <span>Price: {{offer.price }}$</span>
                <a *ngIf="offer.owner.objectId==loggedUserID" routerLink="/offer/{{offer.objectId}}/edit">edit</a>
            </div>

        </div>



    </div>

</div>