
    <div class="offers-cont">

        <div class="offer-card">
            New offer
        </div>
        <div class="offer-card">
            New offer
        </div>
        <div class="offer-card">
            New offer
        </div>
        <div class="offer-card">
            New offer
        </div>
        <div class="offer-card">
            New offer
        </div>
        <div class="offer-card">
            New offer
        </div>
        <div class="offer-card">
            New offer
        </div>
        <div class="offer-card">
            New offer
        </div>
        <div class="offer-card">
            New offer
        </div>
    </div>
