<div class="contnav">
    <nav>
        <ul>

            <li><a routerLink="/home" class="hover-button">Home</a></li>
            <li><a routerLink="/offers-catalog">Trip Offers</a></li>

            <ng-container *ngIf="isLoggedUser">
                <li><a routerLink="/offer/add">Add Offer</a></li>
                <li><a routerLink="/user/123/favorites">My Favorites</a></li>

                <li class="profile"><a > <span class="log-user">{{userInfo.username}}</span></a>
                    <ul>
                        <li><a routerLink="/user/{{userInfo.userId}}/profile"> Profile</a></li>
                        <li><a (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ng-container>

            <ng-container *ngIf="!isLoggedUser">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </ng-container>
        </ul>

    </nav>
</div>