/* nav menu */

nav {
  display: flex;
  gap: 1em;
  color: white;
  font-size: 1.6vw;
}



.contnav {
  /*     background: linear-gradient(90deg, rgba(255, 255, 255, 0) 6%, rgba(40, 36, 32, 0.45710784313725494) 33%, rgba(20, 14, 7, 0.4318977591036415) 49%, rgba(25, 23, 21, 0.4459033613445378) 64%, rgba(250, 250, 250, 0) 93%);
 */
  position: relative;
  z-index: 15;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  padding: .2em;
  z-index: 25;
}

a {
  display: block;
  padding: 0 .3em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a::before {
  content: '[ ';
  /* Add left bracket before button text */
  color: rgb(0, 0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a::after {
  content: ' ]';
  /* Add right bracket after button text */
  color: rgb(0, 0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


span.log-user{
  color: rgb(44, 251, 3);
}
.profile a {
  display: inline;
}



/* ul li menu */
nav>ul {
  display: flex;

}

nav li,
nav a {
  display: block;
}

/* hiding second level ul */
nav ul ul {
  display: none;
}

/* what is when block display on li,a */
nav li,
nav a {
  display: block;

}



/* brackets */
nav li:hover>a::after {
  content: ' ]';
  /* Add right bracket after button text */
  color: rgb(51, 253, 1);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  top: -2px;
}

nav li:hover>a::before {
  content: '[ ';
  /* Add left bracket before button text */
  color: rgb(51, 253, 1);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  top: -2px;
}

/* select direct ul child of current hovered li and show it */
nav li:hover>ul {
  display: flex;
  flex-direction: column;
  align-items:first baseline;
 
}

nav li:hover>ul li{
margin:.4em 0 0;
}

nav ul ul {
  position: absolute;
}

.profile ul {
  font-size: 1.4vw;
}

.profile ul li {
  padding: .1em;
  background: rgba(37, 36, 36, 0.675);
  border-radius: .2em;
}