<div class="details-container">


    <div class="offer-card">

        <div class="header">
            <p>{{offer.name }} </p>

        </div>

        <div class="img-container">
            <img src="{{offer.imglink}}" alt="">
        </div>

        <div class="card-middle">
            <div>
                <p> Start: {{offer.date.iso | date: 'dd-MM-yyyy' }}</p>
                <p>Price: {{offer.price}}$ </p>
            </div>

            <div class="fright">
                <p> Min. people {{offer.minpeople}} / Max. people {{offer.maxpeople}} </p>
                <p>Duration: {{offer.durationDays}} Days</p>
            </div>
        </div>
        
        <div class="description">
            <p>{{offer.description}}</p>
        </div>

        <div class="end">
            <a class="back-button" routerLink="/offers-catalog">back</a>
            <a class="item-stretch"></a>
            <!-- <a *ngIf="isOwner" routerLink="/offer/{{offer.objectId}}/delete">delete</a> -->


            <ng-container *ngIf="isOwner" >
                <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn" />
                <label for="modal-btn">delete </label>
                <div class="modal">
                    <div class="modal-wrap">
                        <img src="https://edge.sitecorecloud.io/ironmountain-c8dd68e9/media/project/iron-mountain/iron-mountain/images/services-and-industries/rim/hero-and-background-over-800px/shred-container-options-banner.jpg"
                            alt="">
                        <p>You are about to the delete this offer.</p>
                        <p>Are you sure?</p>
                        <div class="delete-container">
                            <a class="modal-btn delete" (click)="deleteOffer(offer.objectId)">DELETE</a> 
                        </div>


                    </div>
                </div>

            </ng-container>

            <a *ngIf="isOwner" routerLink="/offer/{{offer.objectId}}/edit">edit</a>


        </div>

        <div class="space"></div>
    </div>


</div>


<!-- 

    
 -->