.spinner {
    color: rgb(4, 253, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
  }
  
  .spinner:after {
    animation: changeContent .7s linear infinite;
    display: block;
    content: "⠋";
    font-size: 35px;
  }
  
  @keyframes changeContent {
    10% { content: "⠙"; }
    20% { content: "⠹"; }
    30% { content: "⠸"; }
    40% { content: "⠼"; }
    50% { content: "⠴"; }
    60% { content: "⠦"; }
    70% { content: "⠧"; }
    80% { content: "⠇"; }
    90% { content: "⠏"; }
  }