.register-cont {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 3em 2em;
    width: 100vw;
    height: 100%;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: .7em;
    align-items: end;
    border-radius: .4em;
    padding: 1.4em;
    color: white;
    background: rgba(255, 255, 255, 0.15);
}


form h4 {
    font-size: 1.3em;
    font-weight: 100;
    align-self: center;
    margin-bottom: 1em;
}

.inpfield {
    color: black;
    padding: .4em;
    border-radius: .3em;
    border-inline: none;
    outline: none;
    /* Remove the default focus outline */
    border: none;
}

.a-button {
    text-decoration: none;
    color: white;
    padding: .3em;
    border-radius: .2em;
    align-self: center;
    margin-top: 1em;
    background: rgba(89, 89, 92, 0.15);
}

.a-button:hover {
    color: gray;
    cursor: pointer;
}

.login-form p {
    align-self: center;
}

.a-txt {
    color: rgb(69, 69, 69);
    cursor: pointer;
    text-decoration: none;
}

.a-txt:hover {
    color: rgb(28, 26, 26);
    
}