<main class="register-cont">





    <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
        <h4>Create new account:</h4>

        <label for="userName">Username:
            <input [ngClass]="{ 'inp-error': hasErr('username') }" type="text" placeholder="username" class="inpfield" formControlName="username" >
        </label>
        <ng-container *ngFor="let error of inpvalidErrors">
            <div class="error-container" *ngIf="error.name=='username'"> {{error.message}}</div>
        </ng-container>


        <label for="e-mail">E-mail:
            <input [ngClass]="{ 'inp-error': hasErr('email') }" type="email" placeholder="email@xxx.vv" class="inpfield" formControlName="email">
        </label>
        <ng-container *ngFor="let error of inpvalidErrors">
            <div class="error-container" *ngIf="error.name=='email'"> {{error.message}}</div>
        </ng-container>


        <ng-container formGroupName="pswGroup">

            <label for="password">Password:
                <input [ngClass]="{ 'inp-error': hasErr('repass')||hasErr('pswGroup') }" type="password" placeholder="password" class="inpfield" formControlName="password">
            </label>
            <ng-container *ngFor="let error of inpvalidErrors">
                <div class="error-container" *ngIf="error.name=='password'"> {{error.message}}</div>
            </ng-container>


            <label for="repassword">Repassword:
                <input [ngClass]="{ 'inp-error': hasErr('repass')||hasErr('pswGroup') }" type="password" placeholder="repeat password" class="inpfield" formControlName="repass">
            </label>
            <ng-container *ngFor="let error of inpvalidErrors">
                <div class="error-container" *ngIf="error.name=='repass'"> {{error.message}}</div>
            </ng-container>

        </ng-container>

        <ng-container  *ngFor="let error of inpvalidErrors">
            <div class="error-container" *ngIf="error.name=='pswGroup'"> {{error.message}}</div>
        </ng-container>


        <button class="a-button">Register now</button>

        <p>Already have an account? <a class="a-txt" routerLink="/login">Login</a> </p>
    </form>


</main>