<main class="register-cont">

    <form class="register-form" action="">
        <h4>Create new account:</h4>
        <label for="e-mail">E-mail:
            <input type="email" placeholder="email@xxx.vv" class="inpfield">
        </label>

        <label for="password">Password:
            <input type="password" placeholder="password" class="inpfield">
        </label>
        <label for="repassword">Repassword:
            <input type="password" placeholder="repeat password" class="inpfield">
        </label>

        <a class="a-button">Sign in</a>

        <p>Already have an account? <a class="a-txt" routerLink="/login">Login</a> </p>
    </form>
</main>
