@font-face {
    font-family: 'Arima-medium';
    src: url('../../../assets/fonts/ArimaKoshi-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    z-index: 1;
    font-family: "Arima-medium";
    font-size: 4.7vw;
    font-style: italic;
    text-shadow: 6px 4px 7px rgba(0, 0, 0, 0.35);
}

span.and {
    font-family: Cambria, 'Times New Roman', serif;
}