
<!-- 
<div class="err-frame" *ngIf="(errMessages$ | async)?.length! > 0">
    <button (click)="close()">X</button>
    <div class="err-container" *ngFor="let message of (errMessages$ | async)!">
        <p class="err">{{message}}</p>
    </div>
</div> -->


<ng-container *ngIf="(errMessages$ | async) as messages">
    <div class="err-frame" *ngIf="messages.length > 0">
        <button (click)="close()">X</button>
        <div class="err-container" *ngFor="let message of (errMessages$ | async)">
            <p class="err">{{message }}</p>
        </div>
    </div>
</ng-container>
