<main class="add-Offer-container">


    <div class="form-container">

        <h4>Add your Offer:</h4>

        <form class="add-offer-form">

            <div class="inp-form">

                <div class="input-cont">
                    <label>Name: </label>
                    <input class="inpfield" />
                    <div class="validation-message">validation-message</div>
                </div>


                <div class="input-cont">
                    <label>Destination: </label>
                    <input class="inpfield" />
                    <div class="validation-message">validation-message</div>
                </div>

                <div class="input-cont">
                    <label>Image: </label>
                    <input class="inpfield" />
                    <div class="validation-message">validation-message</div>
                </div>


                <div class="input-cont">
                    <label>Description:</label>
                    <textarea class="inpfield"></textarea>
                    <div class="validation-message">validation-message</div>
                </div>

                <div class="input-cont">
                    <label>min count people:</label>
                    <input type="number" class="inpfield"/>
                    <div class="validation-message">validation-message</div>
                </div>

                <div class="input-cont">
                    <label>max count people:</label>
                    <input type="number" class="inpfield"/>
                    <div class="validation-message">validation-message</div>
                </div>

                <div class="input-cont">
                    <label>Price: </label>
                    <input class="inpfield" type="number" />
                    <div class="validation-message">validation-message</div>
                </div>


                <div class="input-cont">
                    <label>Date: </label>
                    <input class="inpfield" type="date" />
                    <div class="validation-message">validation-message</div>
                </div>




            </div>
        </form>

        <button class="a-button">Add Offer</button>


    </div>

</main>