.add-Offer-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 150px;
    /* flex-wrap: wrap; */
}


.form-container {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
    border-radius: .4em;
    padding: 1.4em;
    color: rgb(255, 255, 255);
    background: rgba(5, 5, 5, 0.415);

}

/*  */
.add-offer-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    justify-items: center;
    align-items: center;



}

.inp-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .7em;

}

.form-container h4 {
    font-size: 1.3em;
    font-weight: 100;
    align-self: center;
    margin-bottom: .5em;
    align-items: flex-start;
}



.input-cont {
    display: flex;
    flex-direction: column;
    gap: .1em;
}

textarea {
    height: 6em;
}

.inpfield {
    align-self: flex-end;
    width: fit-content;
    max-width: 44em;
    min-width: 3em;
    color: black;
    padding: .4em;
    border-radius: .3em;
    /* border-inline: none; */
    outline: none;
    /* Remove the default focus outline */
    border: none;
}

.people {
    width: 1em;
}

.a-button {
    text-decoration: none;
    color: white;
    padding: .3em;
    border-radius: .2em;
    background: rgb(129, 129, 130);
    border: none;
    margin-top: 1em;
    transform: translate(0,-30%);
}

.a-button:hover {
    color: rgb(57, 55, 55);
    cursor: pointer;
}


.form-container>p {
    margin-top: 1em;
    align-self: center;
    font-size: 1.4em;
    ;
}

.a-txt {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

.a-txt:hover {
    color: rgb(36, 33, 33);

}

.error-container {

    border-radius: .2em;
    padding: .4em;
    color: rgb(249, 0, 0);
    height: 2em;
}


.inp-error {
    outline: .1px solid red;
}


.login-form p:nth-of-type(2) {
    font-size: 1.25em;
}


/*  */


.validation-message {
    border-radius: .2em;
    color: #00fffb;
    padding: .1em;
    font-size: .85em;
    /* background-color: rgba(70, 70, 78, 0.521); */
    min-height: 1.35em;
    align-self: flex-end;
    margin-top: -.15em;
}

.validation-message p {
    
    color: #00fffb;
    
}

.validation-message:empty {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
}


.a-button-disabled {
    display: block;
    cursor: default;
    text-decoration: none;
    color: rgb(149, 149, 151);
    padding: .3em;
    border-radius: .2em;
    align-self: center;
    margin-top: 1em;
    background: rgba(242, 242, 244, 0.65);
    border: none;
}

.btn-cont {
    display: flex;
    gap: 1em;
    align-items: center
}

/* MODAL */

/* --------------------------MODAL: */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');



p {
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #1f2029;
}

.section {
    position: relative;
    width: 100%;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.full-height {
    min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.modal-btn:checked+label,
.modal-btn:not(:checked)+label {
    /* position: relative; */
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 500;
    font-size: 1em;
    line-height: 2;
    /* height: 50px; */
    transition: all 200ms linear;
    border-radius: 4px;
    /* width: 240px; */
    letter-spacing: 1px;
    /* display: -webkit-inline-flex;
  display: -ms-inline-flexbox; */
    /* display: inline-flex; */
    /* -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
  border: none;
  
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
 */
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background: rgb(129, 129, 130);
    padding: .0em .8em;
    border-radius: .25em;
    height: 1.8em;
}

.modal-btn:not(:checked)+label:hover {
    background-color: rgb(129, 129, 130);
    color: rgb(38, 38, 41);
}

.modal-btn:checked+label .uil,
.modal-btn:not(:checked)+label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn:checked+label:after,
.modal-btn:not(:checked)+label:after {
    position: absolute;
    top: 69.5%;
    right: 36%;
   /*  transform: translate(-60%, -60%); */
    z-index: 110;
    /* width: 40px; */
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 1em;
    background-color: rgb(129, 129, 130);
    color: white;
    /* font-family: 'unicons'; */
    content: 'CANCEL';
    
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    padding: 0 .6em;
}

.modal-btn:checked+label:hover:after,
.modal-btn:not(:checked)+label:hover:after {
   
    color: #2b2b2f;
}

.modal-btn:checked+label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal-btn:checked~.modal {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap img {
    display: block;
    width: 100%;
    height: auto;
}

.modal-wrap p {
    padding: 20px 30px 0 30px;
}

.modal-btn:checked~.modal .modal-wrap {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}


.logo {
    position: absolute;
    top: 25px;
    left: 25px;
    display: block;
    z-index: 1000;
    transition: all 250ms linear;
}

.logo img {
    height: 26px;
    width: auto;
    display: block;
    filter: brightness(10%);
    transition: filter 250ms 700ms linear;
}

.modal-btn:checked~.logo img {
    filter: brightness(100%);
    transition: all 250ms linear;
}


@media screen and (max-width: 500px) {
    .modal-wrap {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }

    .modal-wrap p {
        padding: 15px 20px 0 20px;
    }
}

/* new */


.delete:hover{
    color: white !important;;
    background: red !important; ;
}

.delete-container{
    margin-top: .7em;
    padding:.1em 1.9em;
    display: flex;
    justify-content: space-between
}