/* You can add global styles to this file, and also import other style files */
/* Reset */

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Exo-Regular', serif;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
table,
textarea,
input,
option,
label,
button {
    font: inherit;
}

@font-face {
    font-family: 'Exo-Regular';
    src: url('assets/fonts/exo/Exo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arima-medium';
    src: url('assets/fonts/ArimaKoshi-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

